$base-font-size: 1rem;
$font-sizes: (
  1: 0.6154,
  2: 0.7692,
  //10px  插件设置里将基础的字体改为上面html中设置的13px，这样就
  3: 0.875,
  4: 0.9231,
  //12px 保证了整个页面只有一个基础的px大小
  5: 1,
  //13px
  6: 1.0769,
  // 14px
  7: 1.2308,
  // 16px
  8: 1.5,
  9: 2,
);

// colors
$colors: (
  'white': #ffffff,
  'black': #0a0a0a,
  'light': #f5f5f5,
  'dark': #363636,
  'primary': #00d1b2,
  'link': #3273dc,
  'info': #209cee,
  'success': #48c774,
  'warning': #ffdd57,
  'danger': #ff3860,
);

$spacing-types: (
  m: margin,
  p: padding,
);
$spacing-directions: (
  t: top,
  r: right,
  b: bottom,
  l: left,
);
$spacing-base-size: 1rem;
$spacing-sizes: (
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3,
  6: 4.5,
  7: 6,
);

// justify-content
$flex-jc: (
  start: flex-end,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
);

// align-items
$flex-ai: (
  start: flex-end,
  end: flex-end,
  center: center,
  stretch: stretch,
  baseline: baseline,
);

@each $typeKey, $type in $spacing-types {
  // .m-1{ margin:0.25rem}
  @each $sizekey, $size in $spacing-sizes {
    // .mt-1{ margin-top:0.25rem}
    .#{$typeKey}-#{$sizekey} {
      #{$type}: $size * $spacing-base-size;
    }
  }
  // .mx-1
  @each $sizekey, $size in $spacing-sizes {
    // .mt-1{ margin-top:0.25rem}
    .#{$typeKey}x-#{$sizekey} {
      #{$type}-left: $size * $spacing-base-size;
      #{$type}-right: $size * $spacing-base-size;
    }
  }
  // .my-1
  @each $sizekey, $size in $spacing-sizes {
    // .mt-1{ margin-top: 0.25rem}
    .#{$typeKey}y-#{$sizekey} {
      #{$type}-top: $size * $spacing-base-size;
      #{$type}-bottom: $size * $spacing-base-size;
    }
  }

  @each $directionKey, $direction in $spacing-directions {
    @each $sizekey, $size in $spacing-sizes {
      // .mt-1{ margin-top:0.25rem}
      .#{$typeKey}#{$directionKey}-#{$sizekey} {
        #{$type}-#{$direction}: $size * $spacing-base-size;
      }
    }
  }
}

@each $key, $value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}

@each $value in (relative, absolute, fixed) {
  .#{$value} {
    position: $value;
  }
}

@each $key, $value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}
//第一个参数为键值及键名 第二个为对象
@each $colorkey, $color in $colors {
  .text-#{$colorkey} {
    color: $color !important;
  }
  .bg-#{$colorkey} {
    background-color: $color !important;
  }
}

@each $sizekey, $size in $font-sizes {
  .fs-#{$sizekey} {
    font-size: $size * $base-font-size;
  }
}
